<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whfstudio.graphbed.provider.dao.GraphInfoMapper">
  <resultMap id="BaseResultMap" type="com.whfstudio.graphbed.common.model.GraphInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="pic_code" jdbcType="VARCHAR" property="picCode" />
    <result column="pic_size" jdbcType="VARCHAR" property="picSize" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pic_type" jdbcType="VARCHAR" property="picType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pic_url, pic_name, pic_code, pic_size, update_time, create_time, pic_type
  </sql>
  <select id="selectByExample" parameterType="com.whfstudio.graphbed.common.model.GraphInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from graph-info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from graph-info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from graph-info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.whfstudio.graphbed.common.model.GraphInfoExample">
    delete from graph-info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.whfstudio.graphbed.common.model.GraphInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into graph-info (pic_url, pic_name, pic_code, 
      pic_size, update_time, create_time, 
      pic_type)
    values (#{picUrl,jdbcType=VARCHAR}, #{picName,jdbcType=VARCHAR}, #{picCode,jdbcType=VARCHAR}, 
      #{picSize,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{picType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whfstudio.graphbed.common.model.GraphInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into graph-info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="picName != null">
        pic_name,
      </if>
      <if test="picCode != null">
        pic_code,
      </if>
      <if test="picSize != null">
        pic_size,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="picType != null">
        pic_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picCode != null">
        #{picCode,jdbcType=VARCHAR},
      </if>
      <if test="picSize != null">
        #{picSize,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picType != null">
        #{picType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whfstudio.graphbed.common.model.GraphInfoExample" resultType="java.lang.Long">
    select count(*) from graph-info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update graph-info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.picUrl != null">
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.picName != null">
        pic_name = #{record.picName,jdbcType=VARCHAR},
      </if>
      <if test="record.picCode != null">
        pic_code = #{record.picCode,jdbcType=VARCHAR},
      </if>
      <if test="record.picSize != null">
        pic_size = #{record.picSize,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.picType != null">
        pic_type = #{record.picType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update graph-info
    set id = #{record.id,jdbcType=INTEGER},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      pic_name = #{record.picName,jdbcType=VARCHAR},
      pic_code = #{record.picCode,jdbcType=VARCHAR},
      pic_size = #{record.picSize,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      pic_type = #{record.picType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.whfstudio.graphbed.common.model.GraphInfo">
    update graph-info
    <set>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        pic_name = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picCode != null">
        pic_code = #{picCode,jdbcType=VARCHAR},
      </if>
      <if test="picSize != null">
        pic_size = #{picSize,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picType != null">
        pic_type = #{picType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whfstudio.graphbed.common.model.GraphInfo">
    update graph-info
    set pic_url = #{picUrl,jdbcType=VARCHAR},
      pic_name = #{picName,jdbcType=VARCHAR},
      pic_code = #{picCode,jdbcType=VARCHAR},
      pic_size = #{picSize,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pic_type = #{picType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectForUpdate" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from graph-info
    where id = #{id,jdbcType=INTEGER} for update
  </select>
</mapper>